.cart {
  margin: 100px auto;
  width: 600px;
}
.cart table {
  width: 100%;
  background-color: white;
}
thead tr {
  background-color: #1d2e28;
  color: white;
}
th,
td {
  border: 1px solid black;
  border-radius: 5px;
  text-align: center;
  position: relative;
}
#img {
  margin: 0;
  padding: 15px;
  width: 10%;
}
#img img {
  margin: 0;
  width: 100%;
}
#pname {
  width: 20%;
}
#price {
  width: 10%;
}
#quantity {
  width: 20%;
}
#quantity p {
  margin: 0;
  padding: 0;
}
.form-container {
  position: absolute;
  width: 100%;
  margin-top: 5px;
}
#quantity form {
  display: inline;
}
#quantity button {
  padding: 1px;
  width: 40px;
  height: 30px;
  font-size: 1rem;
  cursor: pointer;
  background-color: #14452f;
  color: white;
}
#quantity button:hover {
  background-color: #1d2e28;
}
#quantity form input[type="number"] {
  width: 40px;
  height: 30px;
  margin-right: 1px;
  font-size: 1rem;
  text-align: right;
}

#quantity button:hover .fa-solid.fa-rotate-right {
  animation: spin 0.2s linear 1;
}
#quantity button:hover .fa-solid.fa-x {
  transform: scale(95%);
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 768px) {

}
