.cart {
  margin: 100px auto;
  width: 600px;
}
.cart table {
  width: 100%;
  background-color: white;
}
thead tr {
  background-color: #1d2e28;
  color: white;
}
th,
td {
  border: 1px solid black;
  border-radius: 5px;
  text-align: center;
  position: relative;
}
#img {
  margin: 0;
  padding: 15px;
  width: 10%;
}
#img img {
  margin: 0;
  width: 100%;
}
#pname {
  width: 20%;
}
#price {
  width: 10%;
}
#quantity {
  width: 20%;
}
#quantity p {
  margin: 0;
  padding: 0;
}
.form-container {
  position: absolute;
  width: 100%;
  margin-top: 5px;
}
#quantity form {
  display: inline;
}
#quantity button {
  padding: 1px;
  width: 40px;
  height: 30px;
  font-size: 1rem;
  cursor: pointer;
  background-color: #14452f;
  color: white;
}
#quantity button:hover {
  background-color: #1d2e28;
}
#quantity form input[type="number"] {
  width: 40px;
  height: 30px;
  margin-right: 1px;
  font-size: 1rem;
  text-align: right;
}

#quantity button:hover .fa-solid.fa-rotate-right {
  animation: spin 0.2s linear 1;
}
#quantity button:hover .fa-solid.fa-x {
  transform: scale(95%);
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 768px) {
}

.tPrice {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 100%;
  padding: 5px 0px;
  font-family: Arial;
}
#tPrice {
  margin: 0px 10px 0px 6px;
  font-weight: bold;
}
#openPopupBtn {
  cursor: pointer;
  padding: 0px 10px;
  font-size: 1rem;
  border-radius: 5px;
  background-color: #14452f;
  color: white;
}
#openPopupBtn p{
  margin: 10px 0px;
}
#openPopupBtn:hover{
    background-color: #1d2e28;

}
.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}
.popup-content {
  position: relative;
  z-index: 1;
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  width: 100%;
  max-width: 300px;
  text-align: center;
}
.popup-content img {
  width: 80%;
  height: auto;
  border-radius: 5px;
}
.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
}
