.main-content {
  display: flex;
  align-items: flex-start;
}
.tPrice {
  position: sticky;
  z-index: 500;
  top: 100px;
  margin-top: 125px;
  margin-left: auto;
  margin-right: 10px;
  padding: 10px;
  width: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
  font-family: Arial, Helvetica, sans-serif;
}
#tPrice {
  font-size: 1.5rem;
  display: flex;
}
#tPrice p {
  margin: 0 5px;
  font-weight: bold;
}
.tPrice img {
  margin: 10px 0px 10px 0px;
  width: 80%;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.075);
  border-radius: 10px;
}
.tPrice p {
  margin: 0px;
}
.tPrice h6 {
  text-align: center;
  margin: 0;
  margin-bottom: 10px;
  font-weight: lighter;
}
#checkout {
  display: block;
  margin: 0px auto;
  width: 140px;
  height: 40px;
  border-radius: 10px;
  font-size: 1.2rem;
  background-color: #14452f;
  color: white;
  cursor: pointer;
}
#checkout:hover {
  background-color: #1d2e28;
}

@media screen and (max-width: 1155px) {
  .tPrice {
    width: 400px;
    font-size: 0.8rem;
  }
  #tPrice {
    font-size: 1.2rem;
  }
  #checkout {
    width: 100px;
    height: 30px;
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 1100px) {
  .tPrice {
    width: 350px;
    font-size: 0.8rem;
  }
  #tPrice {
    font-size: 1.2rem;
  }
  #checkout {
    width: 100px;
    height: 30px;
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 1050px) {
  .main-content {
    display: flex;
    flex-direction: column;
  }
  .tPrice {
    width: 350px;
    margin: 0px auto 20px;
    font-size: 0.8rem;
  }
}

.cart {
  margin: 50px 10px;
  width: 650px;
}
.cart table {
  width: 100%;
  background-color: white;
}
thead tr {
  background-color: #1d2e28;
  color: white;
}
th,
td {
  border: 1px solid black;
  border-radius: 5px;
  text-align: center;
  position: relative;
}
#img {
  margin: 0;
  padding: 15px;
  width: 10%;
}
#img img {
  margin: 0;
  width: 100%;
}
#pname {
  width: 20%;
}
#price {
  width: 10%;
}
#quantity {
  width: 20%;
}
#quantity p {
  margin: 0;
  padding: 0;
}
.form-container {
  position: absolute;
  width: 100%;
  margin-top: 5px;
}
#quantity form {
  display: inline;
}
#quantity button {
  padding: 1px;
  width: 40px;
  height: 30px;
  font-size: 1rem;
  cursor: pointer;
  background-color: #14452f;
  color: white;
}
#quantity button:hover {
  background-color: #1d2e28;
}
#quantity form input[type="number"] {
  width: 40px;
  height: 30px;
  margin-right: 1px;
  font-size: 1rem;
  text-align: right;
}
#quantity button:hover .fa-solid.fa-rotate-right {
  animation: spin 0.2s linear 1;
}
#quantity button:hover .fa-solid.fa-x {
  transform: scale(95%);
}

.empty {
  margin: 50px 10px;
  font-family: Arial;
  font-weight: bold;
  color: #14452f;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.4);
  text-align: center;
  font-size: 3rem;
}
.empty img {
  width: 75%;
}
.eCart {
  position: absolute;
  text-align: center;
  background-color: white;
  width: 300px;
  left: 50%;
  top: -30px;
  transform: translateX(-50%);
  font-family: Arial;
  font-weight: bold;
  color: red;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 1050px) {
  .cart {
    width: 700px;
    margin: 50px auto 20px;
  }
  thead tr {
    font-size: 0.8rem;
  }
  .form-container {
    position: absolute;
    width: 100%;
    margin-top: 0px;
  }
  #quantity form input[type="number"] {
    width: 30px;
    height: 29px;
    margin-right: 1px;
    font-size: 1rem;
    text-align: right;
  }

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
  }

  #quantity button {
    width: 30px;
    height: 30px;
    font-size: 0.9rem;
    cursor: pointer;
    background-color: #14452f;
    color: white;
  }
  td {
    font-size: 1rem;
  }
}
@media screen and (max-width: 800px) {
  .cart {
    width: 500px;
    margin: 50px auto 20px;
  }
  thead tr {
    font-size: 0.8rem;
  }
  .form-container {
    position: absolute;
    width: 100%;
    margin-top: 0px;
  }
  #quantity form input[type="number"] {
    width: 25px;
    height: 24px;
    margin-right: 1px;
    font-size: 0.8rem;
    text-align: right;
  }

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
  }

  #quantity button {
    width: 25px;
    height: 25px;
    font-size: 0.7rem;
    cursor: pointer;
    background-color: #14452f;
    color: white;
  }
  td {
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 500px) {
  .cart {
    width: 350px;
    margin: 50px auto 20px;
  }
  thead tr {
    font-size: 0.6rem;
  }
  .form-container {
    position: absolute;
    width: 100%;
    margin-top: 0px;
  }
  #quantity form input[type="number"] {
    width: 20px;
    height: 19px;
    margin-right: 1px;
    font-size: 0.6rem;
    text-align: right;
  }

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
  }

  #quantity button {
    width: 20px;
    height: 20px;
    font-size: 0.5rem;
    cursor: pointer;
    background-color: #14452f;
    color: white;
  }
  td {
    font-size: 0.6rem;
  }
  .empty {
    font-size: 2rem;
  }
}
